/trabalho-um/nbproject/private/
/trabalho-um/build/
/trabalho-um/dist/
/trabalho-dois-cliente/nbproject/private/
/trabalho-dois-cliente/build/
/trabalho-dois-cliente/dist/
/trabalho-dois-servidor/nbproject/private/
/trabalho-dois-servidor/build/
/trabalho-dois-servidor/dist/
